 body{
   text-align: center;
   margin-top: 0%;
   padding: top 0%;
   background-color: rgb(237, 232, 232);
 }

h2{
  font-size: 46px;
}


#homepage{
    height: 100lvh;
    p{
      font-size: 21px;
   }
}

#btn{
  display: flex;
  flex-direction: column;
  width:100%;
  text-align: center;
  align-items: center;
  height: 50%;
  row-gap: 6%;
}

#signup{
  background-color: rgb(115, 25, 206);
  color: white;
  height: 10%;
  font-size: 16px;
  width:100vh;
  border-radius:12px;
  cursor: pointer;
}

#login{
  background-color: rgb(176, 112, 218);
  color: white;
  height: 10%;
  font-size: 16px;
  width:100vh;
   border-radius:12px;
   cursor: pointer;
}



/* -------------signup------------------ */



/* ----loginpage */

#loginpage{
  text-align: center;
  align-items: center;
}


/* AccountSetting */
#navbar{
  background-color: white;
  color: black;
}

.profileInfo{
 display: flex;
 padding-top: 6%;

}


/* Responsive Styles for Mobile */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 32px;
  }

  #btn {
    height: auto;
  }

  #signup, #login {
    width: 80%;
  }

  #navbar{
    width:120%;
  }
}